.generalContainer {
  width: 70%;
  margin-top: 40px;
  margin-left: 80px;
  padding-left: 10px;
  background: #9db7ec;
}

.inputContainer {
  margin-top: 40px;
  background: #9db7ec;
}

.costSummary{
    border: 2px solid black;
    width: 70%;
    margin: auto;
    background-color: turquoise;
    margin-left: 80px;
    padding-left: 10px;
}

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: red;
  width: 400px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 25px; /* Specified height */
  outline: none; /* Remove outline */
  border-radius: 13px;
  box-shadow: 0px 1px 10px black;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: turquoise;
  border-radius: 30%;
}

#amountSlider{
  width: 500px;

}

#amountSlider::before{
    content: '0';
    color:black;
    font-size: 1rem;
    position: absolute;
    left: 160px;
    top: 170px;
}

#amountSlider::after{
    content: '50000';
    color:black;
    font-size: 1rem;
    position: absolute;
    left: 605px;
    top: 170px;
}

#yearsSlider{
  width: 250px;
}
#yearsSlider::before{
  content: '0';
  color:black;
  font-size: 1rem;
  position: absolute;
  left: 130px;
  top: 330px;
}

#yearsSlider::after{
  content: '5';
  color:black;
  font-size: 1rem;
  position: absolute;
  left: 350px;
  top: 330px;
}


