.slidecontainer {
    width: 75%;/* Width of the outside container */
    margin-top: 40px;
    margin-left: 80px;
}

  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: linear-gradient(90deg,rgb(117,252,117)60%), rgb(214,214,214)60%; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 13px;
    box-shadow: 0px 1px 10px black;
  }
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
p{
    margin-top: 50px;
    margin-left: 80px;
    opacity: 0.7;
    color: black;
    font-weight: bold;
}

.slider::after{
    content: '50000';
    color:black;
    font-size: 2rem;
    position: absolute;
    left: 73%;
    top: 17%;
}
.slider::before{
    content: '0';
    color:black;
    font-size: 2rem;
    position: absolute;
    left: 6%;
    top: 17%;
}

.payback{
    
        width: 50%;/* Width of the outside container */
        margin-top: 40px;
        margin-left: 80px;
    
}

.year_value{
    position: relative;
    right: 80px;
    bottom: 25px;
}


.payback{
    
        width: 50%;/* Width of the outside container */
        margin-top: 40px;
        margin-left: 80px;
    
}
.sliderTwo::after{
    content: '5';
    color:black;
    font-size: 1rem;
    position: absolute;
    left: 42%;
    top: 335px;
    font-weight: bold;
}
.sliderTwo::before{
    content: '1';
    color:black;
    font-size: 1rem;
    position: absolute;
    left: 6%;
    top: 335px;
    font-weight: bold;
}

.sliderTwo {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75%; 
    height: 25px; /* Specified height */
    background: linear-gradient(90deg,rgb(117,252,117)60%), rgb(214,214,214)60%; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 13px;
    box-shadow: 0px 1px 10px black;
  }
  .sliderTwo:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderTwo::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
  
  .sliderTwo::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;

  }
    

